[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
google-generativeai = "*"
pillow = "*"
reportlab = "*"
pydrive2 = "*"
gspread = "*"
oauth2client = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
